<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Nick" value="CIRCBot"/>
    <add key="RealName" value="A C# IRC Bot"/>
    <add key="User" value="USER IRCbot 0 * :IRCbot"/>
    <add key="Server" value="irc.quakenet.org"/>
    <add key="Port" value="666X"/>
    <add key="TestChannel" value="#test101"/>
    <add key="MainChannel" value="#somechannel"/>
    <add key="AdminPassword" value="password"/>
    <add key="OpenWeatherAPI" value="xxxxxx"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringDB" connectionString="Server=.;Database=.;Trusted_Connection = true;Connection Timeout=5;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>